<html>
<link href="/assets/events.css" media="screen" rel="stylesheet" type="text/css" />
<div id = "outer" style="width:820px;padding-bottom:10px;">
      <div class="span12" style="margin:10px 0px 0px 20px;padding-right:30px;">   
            <ul class="nav nav-tabs">
              <li  style="width: 395px; text-align: center;"> <%= link_to "Change password", set_password_users_path%></li>
              <li  class= "active" style="width: 395px; text-align: center;"><%= link_to "Change Picture",change_profile_pic_profiles_path %></li>
   </ul>
 </div>
 <div>
                <%  profile = Profile.find_by_user_id(current_user.id) %>
                <% if profile.image_url.nil? %>
                <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="" style="margin-right: 10px; width:300px;height:220px;">
                <% else%>
                <%= image_tag profile.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:300px;height:220px;"%>
                <% end%>
               
</div>
 <div style = "position:absolute;align:left;top:300px;left:570px;color:#58ACFA;">
  <%= form_for :profpic, url: { action: 'save_profile', controller: "profiles", method: :post } do |f| %>
                <p style="font-size:14px">Upload Image <i class="icon-picture"></i>
                <%= f.file_field :image%></p>
                
                <%= f.submit "Upload" ,'class'=>"btn btn-primary", :style=>"position:absolute;align:left;top:35px;left:300px;" %>
                
    <%end%>
    </div>
    </div>
</html>
