<!DOCTYPE html>
<html>
<link href="/assets/about.css" media="screen" rel="stylesheet" type="text/css" />       
<div id="container_box" style="padding-right:10px;">
        <div class="span12" style="margin-left:20px;margin-top:10px;padding-right:20px;">  
                    <ul class="nav nav-tabs" >
                        <li style="width: 158px; text-align: center;"><%= link_to 'About', :controller => "profiles", :action => "about", :id => @profile.user_id%></li>                
                        <li class="active" style="width: 158px; text-align: center;"><%= link_to 'Posts', :controller => "profiles", :action => "my_posts", :id => @profile.user_id%></li>

                        <li style="width: 158px; text-align: center;"><%= link_to 'Photos', :controller => "profiles", :action => "photos", :id => @profile.user_id%></li>
                        <li style="width: 158px; text-align: center;"><%= link_to 'Videos', :controller => "profiles", :action => "videos", :id => @profile.user_id%></li>
                        <li style="width: 158px; text-align: center;"><%= link_to 'Events', :controller => "profiles", :action => "events", :id => @profile.user_id%></li>
                    </ul>  
        </div>  

    
            <div id="post_box" >
                <table >
                   <%=  form_for :home, :html => {:multipart => true},:url => {:controller => 'home', :action => 'postmessage' ,:id=>@guestuserid} do |f| %>
                     <tr>
                        <td>Say something to&nbsp<%=@profile.first_name%>&nbsp!<%= f.text_field :description, :style=>"width: 770px; "%>
                            <div class="span1" style="margin-top:8px;margin-left:0px;">
                                Attach:
                            </div>
                            <div class="span4">      
                                <ul class="nav nav-tabs" style="border-bottom:none;" >
                                    <li style="text-align: center;"><%= link_to 'Image <i class="icon-picture"></i>'.html_safe, :controller=>"profiles", :action=>"upload_file_for_postmessage", :option=>"image", :id=>@profile.user_id%></li>             
                                    <li style="text-align: center;"><%= link_to 'Video <i class="icon-film"></i>'.html_safe, :controller=>"profiles", :action=>"upload_file_for_postmessage", :option=>"video", :id=>@profile.user_id%></li>
                                </ul>
                            </div>  
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <% if @option=="none"%>
                            
                            <% end%>
                            
                            <% if @option=="image"%>
                            Upload Image&nbsp<%= f.file_field :image%>
                            <% end%>
                            
                            <% if @option=="video"%>
                            Upload Video&nbsp<%= f.file_field :video%>
                            <% end%> 
                        </td>

                    </tr>
                    <tr> 
                        <td><%= f.submit "Post" ,'class'=>"btn btn-primary", :style=>"float: right;width: 120px;background:#3b5998;margin-top:-45px;"%></td>
                    </tr>
                <% end%>
                </table>
            </div>
        <div class="span12" style="margin-left:20px;padding-right:20px;">  
                    <ul class="nav nav-tabs" >

                        <li class="active" style="width: 263px; text-align: center;"><%= link_to 'My Posts  ', :controller => "profiles", :action => "my_posts", :id=>@profile.user_id%></li>       
                        <li style="width: 263px; text-align: center;"><%= link_to 'My Blogs', :controller => "profiles", :action => "my_blogs", :id=>@profile.user_id%></li>
                        <li style="width: 263px; text-align: center;"><%= link_to 'My Discussions', :controller => "profiles", :action => "my_discussions", :id=>@profile.user_id%></li>
                    </ul>   
        </div>
        <% if @my_posts.empty?%>       

        <% else %>   
            <div style="padding-top:40px;">  
            <% @my_messages.each do |my_message| %>
                <div id="user_posts">
                    <% @user=Profile.find_by_user_id(my_message.user_id)%>
                        <% if @user.image_url.nil?%>

                        <img src="http://critterapp.pagodabox.com/img/user.jpg" style="margin-right: 10px; width:45px;height:45px;">

                        <% else%>
                        <%= image_tag @user.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%>
                        <% end%>
                        <a style="text-decoration: none;"><%= link_to "#{@user.first_name}", :controller => "profiles", :action => "about", :id => @user.user_id %></a> &nbsp   
                    <% if ((my_message.receiver_id.nil?)||(my_message.receiver_id==my_message.user_id))%>
                    says
                    <% else%>
                    <% @receiver=Profile.find_by_user_id(my_message.receiver_id)%>
                    &nbsp <i class="icon-play"></i> &nbsp&nbsp 
                    <% if @receiver.image_url.nil?%>
                        <img src="http://critterapp.pagodabox.com/img/user.jpg" style="margin-right: 10px; width:45px;height:45px;">
                        <%else%>
                        <%= image_tag @receiver.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%>
                    <% end%>
                    <%= link_to "#{@receiver.first_name}", :controller => "profiles", :action => "about", :id => @receiver.user_id %>
                    <% end%>              


                        <div style="float: right;padding-left: 20px;font-size: 9pt; padding-right: 10px;color:#4682B4;">

                            <%= my_message.created_at.to_date.strftime("%B %d, %Y") %>&nbsp&nbsp&nbsp&nbspPosted <% @seconds_from_post_creation = (Time.now.to_i - Time.at(my_message.created_at).to_i)%>
                        <% if (@seconds_from_post_creation>(60*60*24))%>
                            <%= @days_from_creation = @seconds_from_post_creation / (60*60*24)%> days ago
                        <% else if((@seconds_from_post_creation>(60*60))&&(@seconds_from_post_creation<(60*60*24)))%>
                                <% @hours_from_creation = @seconds_from_post_creation/(60*60)%> 
                                <% if @hours_from_creation==1%>
                                    <%= @hours_from_creation%> hour ago
                                <% else%>
                                    <%= @hours_from_creation%> hours ago
                                <% end%>
                                <% else if((@seconds_from_post_creation<(60*60))&&(@seconds_from_post_creation>120))%>
                                    <%= @minutes_from_creation = @seconds_from_post_creation/(60)%> minutes ago
                                    <% else if((@seconds_from_post_creation>60)&&(@seconds_from_post_creation<120))%>
                                        <%= @minutes_from_creation = @seconds_from_post_creation/(60)%> minute ago
                                        <% else%>
                                        just now
                                        <% end%> 
                                    <% end%>
                                <%end%>

                        <% end%>
                        &nbsp&nbsp&nbsp&nbsp
                            <% if my_message.user_id==current_user.id%>

                            <%= link_to content_tag('i', '', class: 'icon-trash'), home_path(my_message.id), confirm: "Are you sure you want to delete ?", method: :delete%>
                            <%end%> 
                      </div>

                <% if ((my_message.video_url.nil?)&&(my_message.image_url.nil?))%>
                    <div class="well" id="description"><%= my_message.description%></p>
                    </div>
                <% else if my_message.image_url.nil?%>
                    <div class="well" id="description"><%= video_tag my_message.video_url.to_s, :size =>"480x270", :controls => true, :autobuffer =>true  , :style=>"margin-left:100px;"  %><%link_to "#{video_tag my_message.video_url.to_s}"%></a>
                        <p style="padding-top: 20px;"><%= my_message.description%></p>
                    </div>
                <% else%>
                    <div class="well" id="description" ><%= image_tag my_message.image_url.to_s, :size =>"480x270", :style=>"margin-left:100px;"%><%link_to "#{image_tag my_message.image_url(:thumb).to_s}"%></a>
                        <p style="padding-top: 20px;"><%= my_message.description%></p>
                    </div>
                <% end%>

                <%end%>
                        <div id="kudos">
                            <% @kudos_given=KudosToPosts.find_by_user_id_and_post_id(current_user.id, my_message.id)%>
                            <% if @kudos_given.nil?%>
                            <a style="text-decoration:none;margin-left:10px;"><%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, :controller=>"home", :action=>"kudos_to_post", :id=>my_message.id%> Kudos</a> 
                            <% else%>
                            <i style="text-decoration:none;margin-left:10px;" class="icon-thumbs-up"></i> Kudos Given
                            <% end%>
                            <% kudos_list=KudosToPosts.where("post_id = ?", my_message.id)%>
                            <a style="float:right;margin-right:10px;text-decoration:none;" TITLE="Kudos Given By:&#10;<% kudos_list.each do |kudos|%>&#10;<% user=Profile.find_by_user_id(kudos.user_id)%><%=user.first_name%><%end%>"></i></a>
                        </div>
                </div> 
                <% end%> 
                                        
                <% @my_posts.each do |my_post| %>
                <div id="user_posts">
                    <% @user=Profile.find_by_user_id(my_post.user_id)%>
                        <% if @user.image_url.nil?%>

                        <img src="http://critterapp.pagodabox.com/img/user.jpg" style="margin-right: 10px; width:45px;height:45px;">

                        <% else%>
                        <%= image_tag @user.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%>
                        <% end%>
                        &nbsp&nbsp<a style="text-decoration: none;"><%= link_to "#{@user.first_name}", :controller => "profiles", :action => "about", :id => @user.user_id %></a> &nbsp   
                    <% if ((my_post.receiver_id.nil?)||(my_post.receiver_id==my_post.user_id))%>
                    says
                    <% else%>
                    <% @receiver=Profile.find_by_user_id(my_post.receiver_id)%>
                    &nbsp <i class="icon-play"></i> &nbsp&nbsp <%= image_tag @receiver.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%><%= link_to "#{@receiver.first_name}", :controller => "profiles", :action => "about", :id => @receiver.user_id %>
                    <% end%>              


                        <div style="float: right;padding-left: 20px;font-size: 9pt; padding-right: 10px;color:#4682B4;">

                            <%= my_post.created_at.to_date.strftime("%B %d, %Y") %>&nbsp&nbsp&nbsp&nbspPosted <% @seconds_from_post_creation = (Time.now.to_i - Time.at(my_post.created_at).to_i)%>
                        <% if (@seconds_from_post_creation>(60*60*24))%>
                            <%= @days_from_creation = @seconds_from_post_creation / (60*60*24)%> days ago
                        <% else if((@seconds_from_post_creation>(60*60))&&(@seconds_from_post_creation<(60*60*24)))%>
                                <% @hours_from_creation = @seconds_from_post_creation/(60*60)%> 
                                <% if @hours_from_creation==1%>
                                    <%= @hours_from_creation%> hour ago
                                <% else%>
                                    <%= @hours_from_creation%> hours ago
                                <% end%>
                                <% else if((@seconds_from_post_creation<(60*60))&&(@seconds_from_post_creation>120))%>
                                    <%= @minutes_from_creation = @seconds_from_post_creation/(60)%> minutes ago
                                    <% else if((@seconds_from_post_creation>60)&&(@seconds_from_post_creation<120))%>
                                        <%= @minutes_from_creation = @seconds_from_post_creation/(60)%> minute ago
                                        <% else%>
                                        just now
                                        <% end%> 
                                    <% end%>
                                <%end%>

                        <% end%>
                        &nbsp&nbsp&nbsp&nbsp
                            <% if my_post.user_id==current_user.id%>

                            <%= link_to content_tag('i', '', class: 'icon-trash'), home_path(my_post.id), confirm: "Are you sure you want to delete ?", method: :delete%>
                            <%end%> 
                      </div>

                <% if ((my_post.video_url.nil?)&&(my_post.image_url.nil?))%>
                    <div class="well" id="description"><%= my_post.description%></p>
                    </div>
                <% else if my_post.image_url.nil?%>
                    <div class="well" id="description"><%= video_tag my_post.video_url.to_s, :size =>"480x270", :controls => true, :autobuffer =>true , :style=>"margin-left:100px;"   %><%link_to "#{video_tag my_post.video_url.to_s}"%></a>
                        <p style="padding-top: 20px;"><%= my_post.description%></p>
                    </div>
                <% else%>
                    <div class="well" id="description" ><%= image_tag my_post.image_url.to_s, :size =>"480x270", :style=>"margin-left:100px;"%><%link_to "#{image_tag my_post.image_url(:thumb).to_s}"%></a>
                        <p style="padding-top: 20px;"><%= my_post.description%></p>
                    </div>
                <% end%>

                <%end%>
                        <div id="kudos">
                            <% @kudos_given=KudosToPosts.find_by_user_id_and_post_id(current_user.id, my_post.id)%>
                            <% if @kudos_given.nil?%>
                            <a style="text-decoration:none;margin-left:10px;"><%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, :controller=>"home", :action=>"kudos_to_post", :id=>my_post.id%> Kudos</a> 
                            <% else%>
                            <i style="text-decoration:none;margin-left:10px;" class="icon-thumbs-up"></i> Kudos Given
                            <% end%>
                            <% kudos_list=KudosToPosts.where("post_id = ?", my_post.id)%>
                            <a style="float:right;margin-right:10px;text-decoration:none;" TITLE="Kudos Given By:&#10;<% kudos_list.each do |kudos|%>&#10;<% user=Profile.find_by_user_id(kudos.user_id)%><%=user.first_name%><%end%>"><%= my_post.kudos%> Kudos <i class="icon-thumbs-up"></i></a>
                        </div>
                </div> 
                <% end%> 
                          
            </div>                  
        
    <% end%>
    
</div>