<link href="/assets/blogs.css" media="screen" rel="stylesheet" type="text/css" />
<div id ="show">
    <div class = "well">
        <div id="insideShow">
           <h4><strong><%= link_to @blog_view.title, {:controller => "blogs", :action => "view_blog", :id => @blog_view.id }%></strong></h4> <div style="float: right;font-size: 9pt;color:#4682B4;margin-right:20px;margin-top:-30px;"><i class="icon-calendar"></i> Posted <%= @blog_view.created_at.to_date.strftime("%B %d, %Y") %></div>
              <% user=Profile.find_by_user_id(@blog_view.user_id)%>
              <% @comment_count = Comment.where(:blog_id => params[:id]).count %>
              <% if @blog_view.image_url.nil?%>
              <% else%>
                <div class="span2">
                   <a href="#" class="thumbnail">
                      <%= image_tag @blog_view.image_url(:thumb).to_s, :style=>"margin-right: 10px;margin-left:3px; width:100px;height:50px;" if @blog_view.image?  %>
                   </a>
                   <br><br><br>
                </div>
              <% end%>
               <div style = "margin-top:20px;margin-left:20px;margin-right:20px;">
               <p> <%= @blog_view.content %> </p>
               <br><br><br><br>
               </div>
                    
                  
                    <% if user.image_url.nil?%>
                      <img src="http://critterapp.pagodabox.com/img/user.jpg" style="margin-right: 10px; width:45px;height:45px;">
                        <% else%><div style = "height:20px;font-size:10px;color:#4682B4;margin-left:-12px;"> <%= image_tag user.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:40px;height:40px;"%></div>
                        <% end%> <div style = "height:20px;font-size:10px;color:#4682B4;padding-left:28px;" >
                        <%= link_to "#{user.first_name}", {:controller => "profiles", :action => "about", :id => @blog_view.user_id }%>

                    |<i class="icon-comment"></i> <%= @comment_count%> Comments|<% @kudos_given=KudosToBlog.find_by_user_id_and_blog_id(current_user.id, @blog_view.id)%>
                            <% if @kudos_given.nil?%>
                            <a style="text-decoration:none;"><i class="icon-thumbs-up"></i><%= link_to 'Kudos', :controller=>"blogs", :action=>"kudos_to_blog", :id=>@blog_view.id%> </a> 
                            <% else%>
                            <i style="text-decoration:none;" class="icon-thumbs-up"></i> Kudos Given
                            <% end%>
                    |<%= @blog_view.kudos%> Kudos <i class="icon-thumbs-up"></i>
                  
                    | <i class="icon-tags"></i> Tags : <%= link_to @blog_view.tag, {:controller => "blogs", :action => "list_by_tags", :tag => @blog_view.tag } , :class => "label label-info" %>  
                    <% if @blog_view.user_id==current_user.id%>

                            <%= link_to content_tag('i', '', class: 'icon-trash'), blog_path(@blog_view.id), confirm: "Are you sure you want to delete ?", method: :delete%>
                            <%end%>           
            </div>
       </div>
</div>
</div>           

<div id = "answer">
   <h4 style="margin-top: 0px;">Comments</h4>
   <hr>
     <% @comments.each do |comment| %>
         <%user=Profile.find_by_user_id(comment.user_id)%>      
         <p style="margin-left: 20px;"><%= comment.content  %></p><div style="float: right;font-size: 9pt;color:#4682B4;margin-right:20px;margin-top:-30px;"><i class="icon-calendar"></i> Posted <%= comment.created_at.to_date.strftime("%B %d, %Y") %></div>
         <p style="margin-left: 20px;">
            <% if user.image_url.nil?%>
                        <img src="http://critterapp.pagodabox.com/img/user.jpg" style="margin-right: 10px; width:45px;height:45px;">
                        <% else%><%= image_tag user.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%>
                        <% end%>
                        <div style = "height:20px;font-size:10px;color:#4682B4;padding-left:28px;" >
                        <%= link_to "#{user.first_name}", {:controller => "profiles", :action => "about", :id => @blog_view.user_id }%>
             | <i class="icon-thumps-up"></i> <%= comment.kudos%> Kudos
             |   <% @kudos_given=KudosToComment.find_by_user_id_and_comment_id(current_user.id, comment.id)%>
                            <% if @kudos_given.nil?%>
                            <a style="text-decoration:none;margin-left:10px;"><i class="icon-thumbs-up"></i> <%= link_to 'Kudos', :controller=>"comments", :action=>"kudos_to_comment",:id=>comment.id, :blog_id=> @blog_view.id%> </a> 
                            <% else%>
                            <i style="text-decoration:none;margin-left:10px;" class="icon-thumbs-up"></i> Kudos Given
                            <% end%>
            </div>
     <% end %>
                
     <%= form_for :comment, :url => {:controller => 'comments', :action => 'create_comment', :id => @blog_view.id  } do |f| %>



         <p style="margin-left: 20px;"> <%= f.text_area :content , :class => 'option-large-comment',:placeholder => "write your comment here..."%> </p>
         
         <p style="margin-left: 290px;"><%= f.submit "Post", 'class'=>"btn btn-primary" %> <p>


      
      <% end %>

   </div>         

