 <link href="/assets/discs.css" media="screen" rel="stylesheet" type="text/css" />
<div id ="show">
    <div class = "well">


  Listing Discussions with  "<%=  @discussion_all[0].tag  %>" Tag
    <%@discussion_all.each  do |disc| %>
              <% user=Profile.find_by_user_id(disc.user_id)%>

             <hr>  
            <h4><strong><h1 style="padding-left: 20px;"> <%= link_to disc.title, {:controller => "discussions", :action => "view_disc", :id => disc.id }%></h1></a></strong></h4>
          
        
            <div class="span6">      


                <p style="padding-left: 20px;"><%= disc.content %></p>

            </div>
            
                     
                    <br> 
                    <p><% if user.image_url.nil?%>
                        <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="" style="margin-right: 10px; width:50px;height:50px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border:2px solid #fff;">
                        <% else%> <%= image_tag user.image_url(:thumb).to_s, :style=>"margin-right: 10px; width:45px;height:45px;"%>
                        <% end%><%= link_to "#{user.first_name}", {:controller => "profiles", :action => "about", :id => disc.user_id }%> </td>
                   | <i class="icon-calendar"></i> Posted <%= disc.created_at.to_date.strftime("%B %d, %Y") %>
                   | <i class="icon-share"></i> <%= disc.kudos%> Kudos
                   | <i class="icon-tags"></i> Tags : <%= link_to disc.tag, {:controller => "discussions", :action => "list_by_tags", :tag => disc.tag } , :class => "label label-info" %>  
             </p>
           
    <%end%>  
      
</div>

</div>



