
<html>
<link href="/assets/events.css" media="screen" rel="stylesheet" type="text/css" />
<div id = "outer" style="width:820px;padding-bottom:10px;">
      <div class="span12" style="margin:10px 0px 0px 20px;padding-right:30px;">   
            <ul class="nav nav-tabs">
              <li class= "active" style="width: 395px; text-align: center;"> <%= link_to "Change password", set_password_users_path%></li>
              <li  style="width: 395px; text-align: center;"><%= link_to "Change Picture", change_profile_pic_profiles_path %></li>
   </ul>
 </div>
 <body>
 <div style="margin-left:80px;">
    <h4 style="margin-left: -10px;">Would You like to reset your password ?</h4>
<%= form_for :password, url: { action: 'save_password', controller: "users", method: :post } do |f| %>
      <p style="margin-left: 40px;">
         <%=f.label :old_password %>
         <%=f.text_field :password %>
      </p>
	  <p style="margin-left: 40px;">
         <%=f.label :new_password %>
         <%=f.password_field :new_password%>
	 </p>
    <p style="margin-left: 40px;">
         <%=f.label :Confirm_new_password %>
         <%=f.password_field :Confirm_new_password%>
	 </p>
	<p style="margin-left: 80px;">
      <%= f.submit(type: 'submit', class: "btn btn-info", :value => "Confirm Password")  %>
	</p>
  <% end %>
</div>
</div>
</body>
</html>

